@import "tailwindcss";

:root {
  --background:#171717;
  --foreground:#ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  z-index: 0;
}

.bg-circle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);
  z-index: -1;
}

.bg-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background: radial-gradient(circle, 
  #161616e6 0%,
  rgba(19, 18, 18, 0.9) 1%,
  rgba(48, 39, 48, 0.3) 10%,
  rgba(46, 40, 49, 0.2) 20%,
  rgba(82, 78, 85, 0.1) 60%,
  rgb(145, 142, 142) 100%);
  z-index: 0;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px; 
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}